*{
	font-family: Verdana, arial, sans-serif;
	transition: 500ms;
}

body {
	background-color: rgb(92, 92, 92);
	}

header, aside, footer, article {
	display: block;
	}

header, footer {
	background-color: darkgrey;
	padding: 5px;
	}

header {
	background-image: url("../afbeeldingen/hoofding.jpg");
	margin-top: -8px;
	text-align: center;
	padding-top: 80px;
	color: rgb(255, 255, 255);
	}
	
h1 {
	font-family: 'Times Now Roman';
	font-size: 90px;
	color: white;
	}


h2 {
	font-style: italic;
	font-weight: bold;
	color: white;
}

aside {
	float: right;
	width: 20%;
	background-color: black;
	padding: 20px;
	margin-top: -30px;
	margin-right: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	}
	aside:hover{
		width: 25%;
	}

article {
	float: left;
	width: 70%;
	margin: 10px;
	margin-left: 0px;
	padding: 10px;
	background-color: black;	/*lichtgrijs*/
	color: white;
	}
	
footer {
	clear: both;
	text-align: center;
	color: white;
	}

p {
	font-style: normal;
	font-weight: 200;
	margin: 10px;
	color: white;
}